@inherits UmbracoViewPage<Helpdesk_evry.Models.ContactModel>

@using (Html.BeginUmbracoForm("SubmitForm", "ContactSurface", FormMethod.Post))
{
    @Html.AntiForgeryToken()
   
    <div style="border: 2px solid black; padding: 1rem;" class="mb-3">
        <div class="row">
            <div class="col-6">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = " Firstname", @class = "form-control" })
            </div>
            <div class="col-6">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { placeholder = " Lastname", @class = "form-control" })
            </div>
            <div class="col-12 pt-2">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = " Email", @class = "form-control" })
            </div>
            <div class="col-12 pt-2">
                @Html.LabelFor(m => m.Message)
                @Html.TextAreaFor(m => m.Message, new { placeholder = " Message", @class = "form-control" })
            </div>
            <div class="col-4 pt-2">
                <button class="btn btn-primary">Submit</button>
            </div>
            <div class="col-12 pt-2">
                @Html.ValidationSummary()
            </div>
        </div>
    </div>
}
