@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProductPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var homePage = Model.Root();
}

@{
    var FAQselection = Model.DescendantsOrSelf().OfTypes("fAQItem")
        .Where(x => x.IsVisible())
        .OrderBy(x => x.Id);


    var downloadSelection = Model.DescendantsOrSelf().OfTypes("downloadItem")
        .Where(x => x.IsVisible())
        .OrderBy(x => x.Id);
}

<div class="informationGrid margin-auto padding-bottom">
    @(Html.GetGridHtml(Model, "productPageContent"))
</div>

@{if (downloadSelection != null && downloadSelection.Any())
    {
        <section>
            <div class="container">
                <div class="documents">
                    <div class="row">
                        <h3 class="col-12" style="">Manualer</h3>
                        <hr class="hr-80" />

                        @Html.Partial("Download/_download", downloadSelection)

                        <div class="col-md-6">
                            <p>@Model.Value("downloadText")</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}

<section class="faqSection">
    <div class="container">
        <div class="row">
            @{
                if (FAQselection != null && FAQselection.Any())
                {
                    <h3>Svar på de vanligaste @Model.Name frågorna vi får:</h3>

                    @Html.Partial("Faq/_FaqCategory", FAQselection);
                }
            }
        </div>
    </div>
</section>
